html, body{
	height: 100%;
}
.side-bar{
	height: 100%;
	width: 15%;
	background-color: black;
	float: left;
	.user-title{
		padding-top: 30px;
		text-align: center;
		color: #FFFFFF;
		font-size: 30px;
		margin-bottom: 20px;
	}
	.list-wrapper{
		padding: 20px;	
		.menu-list{
			padding-left: 0px;
		}
		ul{
			padding-left: 10px;
			list-style-type: none;
			li{
				padding-left: 20px;
				margin-top: 10px;
				font-size: 15px;
				width: 100%;
				height: 30px;
				color: #FFFFFF;
				border-bottom: 1px solid #626262;
				&:hover{
					border-left: 1px solid #B90000;
				}
			}
		}
	}
}
.main-panel{
	width: 85%;
	float: left;
}
.top-font{
	color: #fff;
	font-size: 30px;
	float: left;
}
.top-padding{
	padding-top: 10px;
	padding-left: 15px;	
	padding-right: 15px;	
}
.topMenu{
	width: 100%;
	height: 60px;
	background-color: #5C5C5C;
	.username{
		.top-padding;
		.top-font;
	}
	.menuWrapper{
		overflow: hidden;
		float: left;
		height: 100%;
		margin-left: 50px;

		.menu{
			height: 100%;
			&:hover{
				background-color: #A5A5A5;
			}

			float: left;
			.top-padding;
			.top-font;
		}
	}
}


.index_table{
	th{
		text-align: center;
	}
	width: 80%;
	position: relative;
	left: 50%;
	margin-left: -40%;
	font-size: 15px;
	text-align: center;
}
.indexlayout-wrapper{
	width: 50%;
	height: 1000px;
	float: left;
}
.admin_wrapper{
	.tabletitle{
		text-align: center;
		padding: 20px;
	}
	float: left;
	width: 100%;
	table{
		.index_table;	
	}
}
.guest_wrapper{
	.tabletitle{
		text-align: center;
		padding: 20px;
	}
	float: left;
	width: 100%;
	table{
		.index_table;
	}
}

.notification_wrapper{
	float: left;
	width: 50%;
	height: 1000px;
	background-color: #BEDBFF;
}
