<!DOCTYPE html>
<html lang="en" ng-app="userPage">
<head>
	<% include ./header.html %>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-inverse">
		  <div class="navbar-header">
		  		<a href="" class="navbar-brand"><%= session.index %>.<%= session.userID%> . <%= session.email%></a>
		  </div>
		  <ul class="nav navbar-nav">
		  		<li class="dropdown">
		  			<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expended="false">menu</a>
		  			<ul class="dropdown-menu" role="menu">
		  				<li><a href="">menu1</a></li>
		  				<li><a href="">menu2</a></li>
		  				<li><a href="">menu3</a></li>
		  			</ul>
		  		</li>
		  		<li class="dropdown">
		  			<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expended="false">study</a>
		  			<ul class="dropdown-menu" role="menu">
		  				<li><a href="" data-toggle="modal" data-target="#createStudy">new study</a></li>
		  			</ul>
		  		</li>
		  </ul>
		</nav>
	</div>
	
<!-- Modal -->
<div class="modal fade" id="createStudy" tabindex="-1" role="dialog" aria-labelledby="createStudyLabel" area-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="createStudyLabel">new study</h4>
			</div>
			
			<form action="">
				<div class="modal-body">
					
					<div>
						<h4>study name</h4>
						<input type="text" name="title" placeholder="title">
						<input type="hidden" name="admin_id" value="<%= session.id%>">
					</div>

					<div>
						<h4>description</h4>
						<textarea name="description" cols="30" rows="10"></textarea>
					</div>


				</div>
			</form>

		</div>
	</div>
</div>
<!-- Modal end -->
	<div ng-view>
		
	</div>
</body>
</html>