<!DOCTYPE html>
<html lang="en" ng-app="userPage">
<head>
	<% include ./header.html %>
	<meta charset="UTF-8">
	<title></title>
</head>
<body ng-controller='userCtrl'>

<div class="side-bar">
	<div class="user-title">
		<%=session.userID%>
	</div>
	<div class="list-wrapper">
		<ul class="menu-list">
			<li>My profile</li>
			<li ng-click="toggleMenu()">Study</li>
			<ul ng-hide="menuStatus">
				<a href="userPage#!/owner"><li>Owner</li></a>
				<a href="userPage#!/guest"><li>Guest</li></a>
			</ul>
			<li>test</li>
		</ul>
	</div>

</div>
	<!-- <div class="container">
		<nav class="navbar navbar-inverse">
		  <div class="navbar-header">
		  		<a href="" class="navbar-brand"><%= session.userID%></a>
		  </div>
		  <ul class="nav navbar-nav">
		  		<li class="dropdown">
		  			<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expended="false">개인정보</a>
		  			<ul class="dropdown-menu" role="menu">
		  				<li><a href="">개인정보</a></li>
		  			</ul>
		  		</li>
		  		<li class="dropdown">
		  			<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expended="false">study</a>
		  			<ul class="dropdown-menu" role="menu">
		  				<li><a href="" data-toggle="modal" data-target="#createStudy">스터디 생성</a></li>
		  			</ul>
		  		</li>
		  </ul>
		</nav>
	</div> -->
<!-- Modal -->
<div class="modal fade" id="createStudy" tabindex="-1" role="dialog" aria-labelledby="createStudyLabel" area-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="createStudyLabel">new study</h4>
			</div>
			
				<div class="modal-body">
					
					<div>
						<h4>study name</h4>
						<input type="text" placeholder="title" ng-model="newStudy.title">
						<input type="hidden" value="<%= session.index %>" ng-model="newStudy.admin_id">
					</div>
					<div>
						<h4>description</h4>
						<textarea cols="30" rows="10" ng-model="newStudy.description"></textarea>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" ng-click="CreateStudy(newStudy)" data-dismiss="modal">Create</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal end -->
	<div class="main-panel" ng-view>
		
	</div>
</body>
</html>