<!DOCTYPE html>
<html lang="en" ng-app="board">
<head>
	<script type="text/javascript" src="../js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/TweenMax.min.js"></script>
	<script type="text/javascript" src="../js/angular-1.5.8/angular.js"></script>
	<script type="text/javascript" src="../js/angular-1.5.8/angular-route.js"></script>
	<script type="text/javascript" src="../js/angular-1.5.8/angular-animate.js"></script>
	<script type="text/javascript" src="../angular/board/index/boardIndex.js"></script>
	<script type="text/javascript" src="../angular/board/board.js"></script>

	<link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="../js/less.min.js"></script>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body ng-controller='boardCtrl'>
<div class="container">
		<nav class="navbar navbar-inverse">
		  <div class="navbar-header">
		  		<a href="" class="navbar-brand"><%= session.board_name %></a>
		  </div>
		  <ul class="nav navbar-nav">
		  		<li class="dropdown">
		  			<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expended="false">게시판</a>
		  			<ul class="dropdown-menu" role="menu">
		  				<li><a href="">자유게시판</a></li>
		  				<li><a href="">공지사항</a></li>
		  			</ul>
		  		</li>
		  		<li class="dropdown">
		  			<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expended="false">운영</a>
		  			<ul class="dropdown-menu" role="menu">
		  				<li><a href="">스케쥴</a></li>
		  				<li><a href="">회계</a></li>
		  				<li><a href="">회원관리</a></li>
		  			</ul>
		  		</li>
		  		<li class="dropdown">
		  			<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expended="false">자료실</a>
		  			<ul class="dropdown-menu" role="menu">
		  				<li><a href="">스터디 자료</a></li>
		  			</ul>
		  		</li>
		  		<li class="dropdown">
		  			<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expended="false">회원가입</a>
		  		</li>
		  </ul>
		</nav>
	</div>
	<div class="container" ng-view>
		
	</div>

</body>
</html>